<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<!-- configure heeloworld bean -->
	<bean id="hello" class="com.beans.HelloWorld" scope="prototype">

		<!-- <property name="msg" value="Welcome to Spring World...!" /> -->

	</bean>
	<!-- Constructor DI -->

	<!-- <bean id="dept" class="com.beans.Department" scope="singleton">
		<constructor-arg type="java.lang.String" value="IT" />
		<constructor-arg ref="emp" />

	</bean> -->
	
	<!-- Start Setter DI -->
	
	<bean id="dept" class="com.beans.Department" scope="singleton">
	
			<property name="deptName" value="IT" />
			<property name="emp" ref="emp" />

	</bean>

	<bean id="emp" class="com.beans.Employee" scope="singleton">

		<property name="empName" value="Swati" />
		<property name="salary" value="60000" />

	</bean>
	
	<!-- annotation based DI -->
	
	<!-- Enable the annotations -->
	<context:annotation-config />
	<!-- Enable sterio type annotations -->
	<context:component-scan base-package="com" />
	
	<bean id="col" class="com.beans.College" scope="singleton">
		<constructor-arg type="java.lang.String" value="SVU" />
	</bean>
	
	<bean id="stu" class="com.beans.Student" scope="singleton">
		<property name="id" value="100" />
		<property name="name" value="Swati" />
		<property name="rank" value="A" />

	</bean>
	
	<bean id="stu1" class="com.beans.Student" scope="singleton">
		<property name="id" value="101" />
		<property name="name" value="Aswin" />
		<property name="rank" value="A" />

	</bean>
	


</beans>